.container{
    text-align: center;
    margin-top: 23px;
}

table{
    margin: auto;
}

input {
    border-radius: 21px;
    border: 5px solid #aabfaa;
    font-size: 36px;
    height: 70px;
    width: 399px;
}

button {
    border-radius: 33px;
    font-size: 35px;
    background: #978fa0;
    width: 89px;
    height: 93px;
    margin: 6px;
}
.calculator{
    border: 4px solid #13695d;
    background-color: #fff799;
    padding: 23px;
    border-radius: 53 px;
    display: inline-block;
}

h1{
    font-size: 50 px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}