.text-center{
    text-align: center;
}
.bg-blue{
    background-color: blueviolet;

}

.mx-auto{
    margin: auto;
}

.flex{
    display: flex;
}
.flex flex-col
{
    flex-direction: column;
}
.items-center{
    align-items: center;
}
